@import "nullstyle.scss";
.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
}
.container {
    margin: 0px auto;
}

.flex {
    font-size: 30px;
    &__row {
        display:flex;
        justify-content: space-between;
    }
    &__column {
        &_1 {
        }
        &_2 {
            flex: 0 1 40%
        }
        &_3 {
        }
    }
    &__logotip {
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
    }
    &__label {
    }
    &__button {
    }
}
