@import "nullstyle.scss";
@font-face {
    font-family: 'Aclonica';
    src: url(./Aclonica-Regular.eot);
    src: url(./Aclonica-Regular.eot?#iefix) format('embedded-opentype'),
         url(./Aclonica-Regular.otf) format('otf'),
         url(./Aclonica-Regular.svg#Aclonica-Regular) format('svg'),
         url(./Aclonica-Regular.woff) format('woff'),
         url(./Aclonica-Regular.ttf) format('truetype'),
         url(./Aclonica-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Alatsi';
    src: url(./Alatsi-Regular.eot);
    src: url(./Alatsi-Regular.eot?#iefix) format('embedded-opentype'),
         url(./Alatsi-Regular.otf) format('otf'),
         url(./Alatsi-Regular.svg#Alatsi-Regular) format('svg'),
         url(./Alatsi-Regular.woff) format('woff'),
         url(./Alatsi-Regular.ttf) format('truetype'),
         url(./Alatsi-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'AvenirNextCyr';
    src: url(./AvenirNextCyr-Medium.eot);
    src: url(./AvenirNextCyr-Medium.eot?#iefix) format('embedded-opentype'),
         url(./AvenirNextCyr-Medium.otf) format('otf'),
         url(./AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium) format('svg'),
         url(./AvenirNextCyr-Medium.ttf) format('truetype'),
         url(./AvenirNextCyr-Medium.woff) format('woff'),
         url(./AvenirNextCyr-Medium.woff2) format('woff2');
  }
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.content{
    flex: 1 1 auto;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
}
.header{
}
.bg{
    background: url("/img/Фон.png") 50% 0% / cover no-repeat;
}
.footer {
}
.header {
    margin: 0 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 85px;
    padding-top: 30px;
    position: relative;
		&__logo {
		}
		&__phone {
            display: flex;
            align-items: center;
		}
		&__icon {
		}
		&__number {
            color: #FFF;
            text-align: right;
            font-family: 'AvenirNextCyr';
            font-size: 18px;
            font-style: normal;
            font-weight: 450;
            line-height: normal;
		}
        &__headphones{
            position: absolute;
            left:-244px;
            top:102px;
        }
        &__text{
            position: absolute;
            color: #00E0FF;
            font-family: 'Aclonica';
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 3.6px;
            text-transform: uppercase;
            width: 281px;
            height: 13px;
            transform: rotate(-90deg);
            left:-314px;
            top: 365px;
        }
}
.welcome {
    height: 765px;
    padding-top:40px;
		&__subtitle {
            color: #747D81;
            font-family: 'Aclonica';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
		}
		&__title {
            font-family: 'Aclonica';
            font-size: 108px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background: linear-gradient(180deg, #FFF 31.75%, #1A3031 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
		}
		&__text {
            padding-top:18px;
            padding-bottom: 80px;
            color: #FFF;
            font-family: 'AvenirNextCyr';
            font-size: 18px;
            font-style: normal;
            font-weight: 450;
            line-height: normal;
		}
		&__learn {
            display: flex;
            padding-bottom: 101px;
		}
}
.learn {
		&__image {
            padding-right:49px;
		}
		&__text {
            max-width: 472px;
		}
		&__title {
            color: #FFF;
            font-family: Alatsi;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 8px;
		}
		&__subtitle {
            color: #00E0FF;
            font-family: 'AvenirNextCyr';
            font-size: 18px;
            font-style: normal;
            font-weight: 450;
            line-height: 31px;
		}
        &__span{
            color: #00E0FF;
            font-family: 'AvenirNextCyr';
            font-size: 18px;
            font-style: normal;
            font-weight: 450;
            line-height: 23px;
        }
}
.button{
    width: 479px;
    height: 60px;
    border-radius: 9px;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;
    color: #FFF;
    text-align: center;
    font-family: 'Alatsi';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.why {
    background: linear-gradient(286deg, rgba(2, 35, 53, 0.80) 3.63%, rgba(12, 55, 61, 0.80) 90.98%);
    &__title {
    }
    &__label{
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: -10px -10px;
    }
    &__column_1 {
        flex: 0 1 25%;
        padding: 10px 10px;
    }
    &__column_2{
        flex: 0 1 33.333%;
        padding: 10px 10px;
        padding-bottom: 125px;
    }
    &__item {
        padding-top:36px;
        padding-left:42px;
        padding-right: 38px;   
        padding-bottom: 36px;
        border-radius: 20px;
        border: 2px solid #49B9E8;
        background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.05) 100%);
    }
}
.title{
    padding-top:123px;
    padding-bottom: 58px;
    color: #FFF;
    font-family: 'AvenirNextCyr';
    font-size: 54px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
}
.label{
    color: #4ABCEC;
    font-family: 'AvenirNextCyr';
    font-size: 54px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
}
.item {
    height: 100%;
    position: relative;
		&__image {
            max-width: 100%;
		}
        &__ellipse{
            position: absolute;
            top:175px;
            left:35px;
        }

		&__text {
            color: #FFF;
            font-family: 'AvenirNextCyr';
            font-size: 15px;
            font-style: normal;
            font-weight: 450;
            line-height: normal;
		}
}
.ai {
    background: url("/img/bg_ai.png") 50% 0% / cover no-repeat;
    &__title {
        padding-bottom: 64px;
    }
    &__list {
        padding-bottom:69px;
    }
    &__list li {
        background: url("/img/icons/li.png") 0 8px no-repeat;
        color: #FFF;
        padding-left: 40px;
        padding-bottom: 15px;
        padding-top:15px;
        font-family: 'AvenirNextCyr';
        font-size: 15px;
        font-style: normal;
        font-weight: 450;
        line-height: 21px; /* 140% */
        width: 700px;
    }
    &__button{
        margin-bottom: 109px;
    }
}

.what {
    background: linear-gradient(286deg, rgba(2, 35, 53, 0.80) 3.63%, rgba(12, 55, 61, 0.80) 90.98%);;
    &__title {
    }
    &__label {
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        padding-bottom:92px;
    }
    &__column {
        flex: 0 1 20%
    }
    &__item {
        display: flex;
        justify-self: center;
        align-items: center;
    }
}
.item {
    padding-bottom: 40px;
    &__img {
    }
    &__text {
        color: #FFF;
        font-family: 'AvenirNextCyr';
        font-size: 16px;
        font-style: normal;
        font-weight: 450;
        line-height: 23px; /* 143.75% */
    }
}
.what__column:nth-child(1),.what__column:nth-child(3){
    padding-right:20px;
}
.what__column:nth-child(2),.what__column:nth-child(4){
    padding-right:42px;
}
.what__column:nth-child(6),.what__column:nth-child(8) {
    padding-left:20px;
}
.what__column:nth-child(5),.what__column:nth-child(7) {
    padding-left:42px;
}